<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Dogs and Cats Breeds Indetifier 🐱 🐶 🐕 🐈 </div>
    <p>
      This is a demonstration of the capabilities of Artificial Intelligence of Type: Computer Vision. </p>
      <p>It uses images of <strong>cats</strong> and <strong>dogs</strong>, the AI will try to determine the breed.
    </p>
    <p> 
      The AI engine can identify 70 dog and cat breeds, all listed at the buttom of this page.
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Start Analysis</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
  <p>The AI Engine can identify the following Cat Breeds</p>
  <ol>
<li> Abyssinian</li>
<li> Aegean</li>
<li> Arabian Mau</li>
<li> Bengal</li>
<li> Birman</li>
<li> Bombay</li>
<li> British Shorthair</li>
<li> Devon Rex</li>
<li> Egyptian_Mau</li>
<li> Maine Coon</li>
<li> Persian</li>
<li> Ragdoll</li>
<li> Russian Blue Cat</li>
<li> Siamese</li>
<li> Sphynx</li>
<li> Turkish Van Cat</li>
  </ol>
  <p>And the following Dog Breeds:</p>
  <ol>
<li> American Bulldog</li>
<li> American Pit Bull Terrier</li>
<li> Anatolian Shepherd Dog</li>
<li> Australian Shepherd</li>
<li> Basset Hound</li>
<li> Beagle</li>
<li> Bernese Mountain Dog</li>
<li> Boston Terrier</li>
<li> Boxer</li>
<li> Bull Terrier</li>
<li> Bulldog</li>
<li> Canaan Dog</li>
<li> Cavalier Springer Spaniel</li>
<li> Chihuahua</li>
<li> Dachshund</li>
<li> Dalmation</li>
<li> Doberman</li>
<li> English Cocker Spaniel</li>
<li> English Setter Dog</li>
<li> English Springer Spaniel</li>
<li> French Bulldog</li>
<li> German Shepherd Dog</li>
<li> German Shorthaired</li>
<li> German Shorthaired pointer</li>
<li> Golden Retriever</li>
<li> Great Dane Dog</li>
<li> Great Pyrenees Dog</li>
<li> Havanese Dog</li>
<li> Siberian Huskey (or Alaskan Malmute)</li>
<li> Japanese Chin</li>
<li> keeshond</li>
<li> Labrador Retriever</li>
<li> Leonberger</li>
<li> Miniature Pinscher</li>
<li> Miniature Schnauzer</li>
<li> Newfoundland Dog</li>
<li> Pembroke Welsh Corgi </li>
<li> Pharaoh Hound </li>
<li> Pomeranian </li>
<li> Poodle </li>
<li> Pug </li>
<li> Rottweiler </li>
<li> Saint Bernard </li>
<li> Saluki </li>
<li> Samoyed </li>
<li> Scottish Terrier </li>
<li> Shetland Sheepdog</li>
<li> Shiba Inu </li>
<li> Shih Tzu </li>
<li> Sloughi </li>
<li> Staffordshire Bull Terrier </li>
<li> Wheaten Terrier </li>
    <li> Yorkshire Terrier </li>
  </ol>
  By Hazem Nasereddin
</body>
</html>
